*{
    margin:0;
    padding:0;
}

body{
    background-color: whitesmoke;
}

#school{
    width: 100%;
    opacity: 60%;
}

.container{
    position: relative;
    text-align: center;
}

.logo{
    width:100px;
    border-radius: 50px;
    padding: 3px;
    border: rgb(230, 230, 42) 3px solid;
    
}

.text{
    font-size: 100px;
    color: rgb(43, 43, 43);
}

.box1{
    position: absolute;
    height: 120px;
    width: fit-content;
    top:45%;
    left: 15%;
    background-color: aliceblue;
    border-radius: 20px;
    border: blue 2px solid;
}

.lnk{
    position: absolute;
    font-size: 25px;
    top: 20px;
    right: 10px;
    display: flex;
}

.lnk>a{
    margin-left: 20px;
    transition: 1s;
}

a{
    text-decoration: none;
    color: black;
}

.lnk>a:hover{
    color: yellow;
}

#info{
    width: 75%;
}

#notice{
    width: 20%;
    height: fit-content;
    border: 2px solid grey;
    margin-top:20px ;
    margin-right: 40px;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 255, .2);
    padding: 10px;
    padding-left:30px;
}

#notice>a{
    font-size: 18px;
}

#notice>a:hover{
    color:blue;
}

#wholething{
    display: flex;
}

.sec{
    background-color: white;
    margin-top: 20px;
    margin-left: 60px;
    margin-right:52px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 255, .2);
}

.para{
    font-size:23px;
    color: rgb(66, 71, 83);
    font-family: 'Raleway', 'Helvetica', 'Tahoma', 'Geneva','Arial','sans-serif';
    text-align: justify;
}

.header{
    font-size: 30px;
    color: rgb(222,126,52);
    text-decoration:underline double;
}

.gallery-img{
    width:270px;
    border: 2px black solid;
    margin: 4px;
}

.scroll{
    border: 6px violet dashed;
	padding:30px;
	height: 300px;
    overflow: auto;
}

footer{
    background-color: #333000;
    padding: 30px;
}

footer>p{
    text-align: center;
    color: #f2f2f2;
    font-size: 23px;
}